
@{
    ViewBag.Title = "apiTest";
}

<h2>apiTest</h2>

<br />

@*<form action="/Home/GetStateInfo">
        <input type="text" name="state" />
        <input type="submit" value="ENTER" />
    </form>*@

@ViewBag.test1

@*<ul>
        <li>Total households: @ViewBag.test1[0]</li>
        <li>Total households with families: @ViewBag.test1[1]</li>
        <li>Total households with families and children: @ViewBag.test1[2]</li>
    </ul>*@