@{
    ViewBag.Title = "PresentInput";
}
<h2>SaveInput</h2>
<ul>
    <li>Income Bracket Code: @ViewBag.userInput.incomerange</li>
    <li>Age Bracket: @ViewBag.userInput.age</li>
    <li>State Code: @ViewBag.userInput.state</li>
    <li>Gender Code: @ViewBag.userInput.gender</li>
</ul>
