
@{
    ViewBag.Title = "PresentInput";
}

<h2>SaveInput</h2>
<ul>
    <li>@ViewBag.userInput[0].incomerange</li>
    <li>@ViewBag.userInput[0].age</li>
    <li>@ViewBag.userInput[0].state</li>
    <li>@ViewBag.userInput[0].gender</li>
</ul>
