<br />
<br />
<form action="~/Input/SaveInput">
    <h3>Enter your Name</h3>
    <input type="text" ([A-Z][a-z]{1,}) name="name" pattern="[a-zA-Z]{2,}\s[a-zA-z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?" required />
    <br />

    <h3>Select your Gender</h3>

    <select name="gender">
        <option value="DP05_0003E">Female</option>
        <option value="DP05_0002E">Male</option>
    </select>

    <h3>Select your Age</h3>
    <select name="age">
        <option value="DP05_008E">18-24</option>
        <option value="DP05_009E">25-34</option>
        <option value="DP05_010E">35-44</option>
        <option value="DP05_011E">45-54</option>
        <option value="DP05_012E">55-59</option>
        <option value="DP05_013E">60-64</option>
        <option value="DP05_014E">65-74</option>
        <option value="DP05_015E">75-84</option>
        <option value="DP05_016E">85 and older</option>
    </select>


    <h3>Select your State</h3>

    <select name="state">
        <option value="01">Alabama</option>
        <option value="02">Alaska</option>
        <option value="04">Arizona</option>
        <option value="05">Arkansas</option>
        <option value="06">California</option>
        <option value="08">Colorado</option>
        <option value="09">Connecticut</option>
        <option value="10">Delaware</option>
        <option value="12">Florida</option>
        <option value="13">Georgia</option>
        <option value="15">Hawaii</option>
        <option value="16">Idaho</option>
        <option value="17">Illinois</option>
        <option value="18">Indiana</option>
        <option value="19">Iowa</option>
        <option value="20">Kansas</option>
        <option value="21">Kentucky</option>
        <option value="23">Maine</option>
        <option value="24">Maryland</option>
        <option value="25">Massachusetts</option>
        <option value="26">Michigan</option>
        <option value="27">Minnesota</option>
        <option value="28">Mississippi</option>
        <option value="29">Missouri</option>
        <option value="30">Montana</option>
        <option value="31">Nebraska</option>
        <option value="32">Nevada</option>
        <option value="33">New Hampshire</option>
        <option value="34">New Jersey</option>
        <option value="35">New Mexico</option>
        <option value="36">New York</option>
        <option value="37">North Carolina</option>
        <option value="38">North Dakota</option>
        <option value="39">Ohio</option>
        <option value="40">Oklahoma</option>
        <option value="41">Oregon</option>
        <option value="42">Pennsylvania</option>
        <option value="44">Rhode Island</option>
        <option value="45">South Carolina</option>
        <option value="46">South Dakota</option>
        <option value="47">Tennessee</option>
        <option value="48">Texas</option>
        <option value="49">Utah</option>
        <option value="50">Vermont</option>
        <option value="51">Virginia</option>
        <option value="53">Washington</option>
        <option value="54">West Virginia</option>
        <option value="55">Wisconsin</option>
        <option value="56">Wyoming</option>
        <option value="22">Louisiana</option>
    </select>



    <h3>Enter your City</h3>
    <input type="text" name="city" pattern="[a-zA-Z]+(?:[ '-][a-zA-Z]+)*" required />

    <h3>Select Your Marital Status</h3>
    <input type="radio" name="maritalstatus" value="DP02_0010E" checked> Single<br>
    <input type="radio" name="maritalstatus" value="DP02_0004E"> Married<br>
    <input type="radio" name="maritalstatus" value="DP02_0010E">Divorced/Seperated

    <h3>Are you currently employed?</h3>
    <select name="employed">
        <option value="DP03_0005E">No</option>
        <option value="DP03_0004E">Yes</option>
    </select>

    <h3>Do you have children?</h3>
    <select name="haschildren">
        <option value="False">No</option>
        <option value="True">Yes</option>
    </select>


    <h3>Select your highest level of education</h3>
    <select name="collegeeducation">
        <option value="DP02_0060E">Some Highschool</option>
        <option value="DP02_0061E">Highschool Graduate</option>
        <option value="DP02_0062E">Some College</option>
        <option value="DP02_0064E">Bachelors Degree</option>
        <option value="DP02_0065E">Graduate Degree</option>
    </select>

    <h3>Select Your Level of Income</h3>
    <input name="incomerange" type="radio" value="DP03_0052E"> Less than $10K
    <br>
    <input name="incomerange" type="radio" value="DP03_0053E"> $10,000-$14,999
    <br>
    <input name="incomerange" type="radio" value="DP03_0054E"> $15,000-$24,999
    <br>
    <input name="incomerange" type="radio" value="DP03_0055E"> $25,000-$34,999
    <br>
    <input name="incomerange" type="radio" value="DP03_0056E" checked> $35,000-$49,999
    <br>
    <input name="incomerange" type="radio" value="DP03_0057E"> $50,000-$74,999
    <br>
    <input name="incomerange" type="radio" value="DP03_0058E"> $75,000-$99,999
    <br>
    <input name="incomerange" type="radio" value="DP03_0059E"> $100,000-$149,999
    <br>
    <input name="incomerange" type="radio" value="DP03_0060E"> $150,000-$199,999
    <br>
    <input name="incomerange" type="radio" value="DP03_0061E"> More than $200K +

    <h3>Do you rent or own?</h3>
    <input type="radio" name="residentialstatus" value="own" checked> Own<br>
    <input type="radio" name="residentialstatus" value="rent"> Rent<br>
    <input type="radio" name="residentialstatus" value="par1"> I live with my parents<br>
    <br />
    <input type="submit" name="Submit" />
</form>
<br />
<br />
<br />
<br />
<br />
<br />
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>